{% extends 'base.html' %}

{% block content %}
  <div class="mx-auto mt-20 w-7/12 text-green-300 text-3xl heading glitch">Add Members</div>

  <form method="post">
      {% csrf_token %}
      <div class="mx-auto w-7/12 mt-5">
      {% for field in form %}

          <div class="text-white mt-7">{{ field.label }}</div>
          {{field}}

          {% for error in field.errors %} 
              <p style="color: red;">{{error}}</p>
          {% endfor %}

      {% endfor %}

      {% if form.non_field_errors %}
          <div style="color: red;">
              <p>{{form.non_field_errors}}</p>
          </div>
      {% endif %}

      <button type="submit" class="mt-10 bg-rose-500 rounded-md p-3 text-md heading">Add Member</button>
      </div>
  </form>
  </div>
{% endblock content %}
