{% extends 'base.html' %}

{% block content%}
  <div class="mx-auto mt-40 w-7/12 text-6xl heading glitch">All teams</div>

  {% for game,team in games.items %}
  <p class="mx-auto mt-40 w-7/12 text-3xl text-yellow-300 heading glitch">{{game}}</p>

    <div class="mx-auto w-7/12 mt-10">
    <table class="table-auto text-white text-2xl">
      <thead>
        <tr>
            <th class="p-2">RegNo</th>
            <th class="p-2">Name</th>
            <th class="p-2">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td class="p-2">{{team.leader.regno}}</td>
            <td class="p-2">{{team.leader.name}}</td>
            <td class="p-2">Leader</td>
        </tr>
            {% for key,value in team.members.items %} 
        <form method="post">
            {% csrf_token %}
            <tr>
                <td class="p-2">{{key}}</td>
                <td class="p-2">{{value}}</td>
                <td class="p-2">Member</td>
            </tr>
            {% endfor %}
        </form>
      </tbody>
    </table>
    </div>
    {% endfor %}

{% endblock content %}
