{% extends "base.html" %}
{% load static %}


{% block content %}


    <div class="mt-80 mb-80 flex md:flex-shrink-0 content-center justify-center animate space">
        <div class="block md:flex md:content-center md:gap-x-5">
            <div class="block md:flex min-w-xs max-w-xs content-center">
                <img class="max-w-xs" src="{% static 'broken_comp.png' %}"/>
            </div>
            <div class="block border-l-8 border-fuchsia-300 max-w-lg min-w-max p-5 ">
                <span class="block text-4xl/8 tracking-wide  max-w-lg heading glitch">Event Tagline</span>
                <span class="block text-white text-xl/8 tracking-wide mt-3 max-w-lg">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate.</span>
            </div>
        </div>
    </div>
    <div class="mt-40 mb-80 flex flex-wrap content-center justify-center animate space">
        <div class="mt-2 text-center block w-full text-4xl/8 tracking-wide  heading glitch" >About</div>
        <div class="block w-3/5 mt-2">
            <span class="text-white text-xl/8 tracking-wide">
                Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate.
            </span>
        </div>
    </div>

{% endblock content %}
