{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="mt-40 mb-40 flex md:flex-shrink-0 content-center justify-center">
      <div class="block md:flex md:content-center md:gap-x-5">
        <div class="block md:flex min-w-xs max-w-xs content-center">
      <img class="max-w-xs" src="{% static 'broken_comp.png' %}" />
        </div>
        <div class="block border-l-8 border-cyan-500 max-w-lg min-w-max pl-5">
          <span class="block text-3xl text-fuchsia-500 max-w-lg">Event Tagline</span> 
          <span class="block text-white text-lg mt-3 max-w-lg">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate.</span>
        </div>
      </div>
    </div>
    <div class="mt-40 mb-40 flex flex-wrap content-center justify-center">
      <div class="mt-2 text-center block w-full text-3xl text-cyan-500">About</div>
      <div class="block w-3/5 mt-2">
        <span class="text-white text-lg">
          Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate.
        </span>
      </div>
    </div>
{% endblock content %}
