{% extends "base.html" %}
{% load static %}


{% block content %}


    <div class="mt-80 mb-80 flex md:flex-shrink-0 content-center justify-center animate space">
        <div class="block md:flex md:content-center md:gap-x-5">
            <div class="block md:flex min-w-sm max-w-sm content-center">
                <img class="max-w-sm" src="{% static 'broken_comp.png' %}"/>
            </div>
            <div class="block border-l-8 border-yellow-300 max-w-2xl min-w-max p-5 ">
                <span class="block text-6xl/8 tracking-wide max-w-2xl heading glitch moveu"><span>RECONFIG</span><span>RECONFIG</span><span>RECONFIG</span></span>
                <span class="block text-white text-2xl/8 tracking-wide mt-16 max-w-2xl main">The <span class="text-yellow-300">Ultimate Gaming Showdown</span> is here! After a period of exams and gaming hibernation, it's time to reboot and reinitialize your gaming skills for an epic tournament like no other. Featuring three top games - <span class="text-yellow-300">VALORANT</span>, <span class="text-yellow-300">Call of Duty Mobile</span>, and <span class="text-yellow-300">League of Legends</span> - <span class="text-red-500 text-3xl glitch">RECONFIG</span> promises to be an adrenaline-fueled battle where victory and defeat hang in the balance.</span>
            </div>
        </div>
    </div>
    <div class="mt-40 mb-80 flex flex-wrap content-center justify-center animate space">
        <div class="mt-2 text-center block w-full text-6xl/8 tracking-wide  heading glitch" >About</div>
        <div class="block w-3/5 text-center mt-16">
            <span class="text-white text-2xl/8 tracking-wide main">
              With <span class="text-yellow-300">intense competition</span> and <span class="text-yellow-300">high-stakes</span>, this event is your chance to showcase your <span class="text-yellow-300">skills</span> to <span class="text-yellow-300">strategize</span> and <span class="text-yellow-300">outplay</span> your opponents. As you <span class="text-red-500 text-3xl glitch">RECONFIG</span>ure your gaming settings, prepare to embark on an unforgettable gaming adventure. Will you rise to the occasion and claim the title of gaming champion, or will you be outplayed?

So, dust off your controllers, power up your devices, and prepare for an electrifying showdown at <span class="text-red-500 text-3xl glitch">RECONFIG</span>. Get ready to restart, refresh, And embark on an unforgettable gaming adventure!
            </span>
        </div>
    </div>

{% endblock content %}
