<!DOCTYPE html>
<html>
    <head>
        <title> Temp Title</title>

        {% if request.user.is_authenticated %}
            <p>Hello {{request.user.regno}} | <a href="{% url 'userext:logout' %}">Logout</a></p>
        {% else %}
            <p>
                <a href="{% url 'userext:register' %}">Register</a>|
                <a href="{% url 'userext:login' %}">Login</a>
            </p>
        {% endif %}
        
    </head>
    <body>
        {% block content %}

        {% endblock content %}
    </body>


</html>
